%% -*- mode: erlang -*-

{deps, [ {cowboy, {git, "https://github.com/ninenines/cowboy",
                   {ref, "dbb6360"}}} ]}.

{profiles, [{test,
             [{deps, [ {sync, {git, "https://github.com/rustyio/sync",
                               {ref, "9c78e7b"}}} ]}]}]}.

{minimum_otp_vsn, "17"}.
