%% -*- mode: erlang -*-

{deps, [ {cowboy, {git, "https://github.com/ninenines/cowboy",
                   {ref, "dbb6360"}}} ]}.

{profiles, [{test,
             [{deps, [ {sync, {git, "https://github.com/rustyio/sync",
                               {ref, "9c78e7b"}}} ]}]}]}.

{relx, [ {release, {wrked, "0.3.10"}, [wrked]},
         {extended_start_script, true},
         {include_src, false},
         {overlay, [ {copy, "../il2fit/_build/il2fit", "bin/il2fit"},
                     {copy, "../wrk2il/_build/wrk2il.native", "bin/wrk2il"} ]},
         {sys_config, "wrked.config"} ]}.

{minimum_otp_vsn, "17"}.
